In [1]:
import pandas as pd
import math
from openpyxl import load_workbook

FILENAME = 'MDC Q1 Playbook Lam WEEKLY UPDATES.xlsx'

commits_orig = pd.read_excel(FILENAME, sheet_name='MDC Supply Commits')
commits_orig.insert(1, 'Type', '')

def isNaN(value):
    return isinstance(value, float) and math.isnan(value)

In [2]:
commits = pd.DataFrame(columns=commits_orig.columns)
length = commits_orig.shape[0]
count = 0

for i in range(length):
    if not isNaN(commits_orig.loc[i]['PartNumber']):
        commits.loc[count] = commits_orig.loc[i]
        commits.loc[count]['Type'] = 'Completed Shipments'
        commits.loc[count + 1] = commits_orig.loc[i]
        commits.loc[count + 1]['Type'] = 'Supply Commits'
        count += 2
    else:
        commits.loc[count] = commits_orig.loc[i]
        count += 1

commits

,PartNumber,Type,Second Supplier,Status,FAIR Completed Date,Past thru 1/23/2022,2022-01-24 00:00:00,2022-01-31 00:00:00,2022-02-07 00:00:00,2022-02-14 00:00:00,...,2022-04-25 00:00:00,2022-05-02 00:00:00,2022-05-09 00:00:00,2022-05-16 00:00:00,2022-05-23 00:00:00,2022-05-30 00:00:00,2022-06-06 00:00:00,2022-06-13 00:00:00,TTL PD-Mar28,Issues/Notes
0,839-803173-010,Completed Shipments,MDC,Group 2,TBD,0.0,0.0,0,0,120.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,905.0,Swagelok arriving from MLY 2/7
1,839-803173-010,Supply Commits,MDC,Group 2,TBD,0.0,0.0,0,0,120.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,905.0,Swagelok arriving from MLY 2/7
2,839-078004-111,Completed Shipments,MDC,Group 2,TBD,0.0,0.0,0,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,863.0,Swagelok dates TBD escalated
3,839-078004-111,Supply Commits,MDC,Group 2,TBD,0.0,0.0,0,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,863.0,Swagelok dates TBD escalated
4,839-078004-112,Completed Shipments,MDC,Group 2,TBD,0.0,0.0,0,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,447.0,Swagelok dates TBD escalated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,853-257240-001,Completed Shipments,MDC,Group 2,TBD,0.0,0.0,0,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,
239,853-257240-001,Supply Commits,MDC,Group 2,TBD,0.0,0.0,0,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,
240,NaN,,NaN,NaN,NaN,36.0,129.0,69,85,285.0,...,34.0,35,111,0.0,2.0,13.0,18.0,118.0,4140.0,NaN
241,NaN,,NaN,NaN,NaN,NaN,NaN,Part Count:,88,NaN,...,NaN,Part Count:,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,,NaN,NaN,NaN,NaN,NaN,Unit Count:,1471,NaN,...,NaN,Unit Count:,506,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
book = load_workbook(FILENAME)
writer = pd.ExcelWriter(FILENAME, engine='openpyxl')
writer.book = book

commits.to_excel(writer, sheet_name='MDC Supply Commits - updated', index=False)
writer.save()
writer.close()

# commits.to_excel(FILENAME, 'MDC Supply Commits - updated', index=False)

c:\Users\pkastner\Documents\lam-supply-commits\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)